
*.dbgconf
*.crf
*.d
*.o
*.iex
*.axf
*.htm
*.lnp
*.map
*.sct
*.dep
*.scvd
*.zhouli
*.uvoptx
*.lst
**/MDK-ARM/*.txt
**/MDK-ARM/*.ini

.vscode/
transmitter/code-STM8S/Project/Debug/
transmitter/code-STM8S/Project/settings/
